<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a id="menu-home" class="nav-item nav-link menu-item-inactive" routerLink="/home" routerLinkActive="menu-item-active">
                Home
            </a>
            <a id="menu-user" class="nav-item nav-link menu-item-inactive" routerLink="/user/list" routerLinkActive="menu-item-active">
                Users
            </a>
        </div>
    </div>
</nav>